
section.logo
	.logo-main
		margin-top: -15px
		margin-botton: 0px
		float: left
		img
			width: 100px
			

section.busca
	form
		text-align: center
		margin-top: 40px
		input,button
			display: inline-block
		input
			width: 600px
		button
			margin-top: -5px
			color: $verde-escuro
			background-color: $verde-claro
			&:hover
				background-color: $verde-escuro
				color: $verde-claro
			&:focus
				background-color: $verde-escuro
				color: $branco
		.btn
			&:active
				background-color: $branco
				color: $verde-escuro

section.resultado-busca
	h1
		font-size: 22px
		font-family: "Bauhaus 93"
		color: $verde-escuro
		text-align: center
	p
		font-size: 14px
		color: $verde-escuro
		//font-weight: $bold
		//text-align: center
		
	.titulos-gerais
		text-align: center
		font-weight: $bold
			
	.titulo
		background-color: $verde-escuro
		color: $branco
		font-weight: $bold
		height: 50px
		justify-content: center
		align-items: center
		.col-sm-8
			border-left: solid
			border-color: $branco
			height: 50px
			padding: 15px
		.col-sm-4
			padding: 15px
	.conteudo
		background-color: $verde-claro
		color: $verde-escuro
		height: 50px
		justify-content: center
		align-items: center
		.col-sm-8
			border-left: solid
			border-color: $branco
			height: 50px
			padding: 15px
		.col-sm-4
			padding: 15px
	
	.modal-title
		font-weight: $bold
		color: $verde-escuro

	button
		margin-top: -5px
		color: $verde-escuro
		background-color: $verde-claro
		&:hover
			background-color: $verde-escuro
			color: $verde-claro
		&:focus
			background-color: $verde-escuro
			color: $branco
	.btn
		&:active
			background-color: $branco
			color: $verde-escuro
		
	
section.ad
	.propagandas
		margin-top: 50px

section.resultado-busca
	.lista
		margin-top: 100px


