header
	+clearfix
		
	.menu-navegacao
		padding: 5px
		width: 100%
		background-color: $verde-claro
	nav
		ul
			margin-bottom: 0 
			padding: 10px 10px
			list-style: none
			text-align: center	
			li
				display: inline-block
				font-weight: $bold
				padding: 25, 0, 25, 0

				a	
					color: $verde-escuro
					display: block
					font-size: 15px
					padding: 0px 12px
					text-decoration: none

					&:hover
						color: $verde-claro
						text-deconration: blink !important
						