/*=========CORES========*/
$branco: #FFFFFF
$preto: #000000
$verde-claro: #6bb8b2
$verde-escuro: #00746b

/*======DISPOSITIVOS======*/
$celular: max-width 414px
$tablet: max-width 800px

/*====TAMANHO DE FONTE=====*/
$regular: 400
$bold: 700
$light: 300



=flexbox
	display: -webkit-box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flexbox
	display: flex

=font-size($size)
	font-size: $size
	font-size: calculateRem($size)